/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header y footer */
header, footer{
    background: #3b3f24;
    color: white;
    text-align: center;
    padding: 40px;   /* BOX MODEL */
}

.contenedor{
    width: 80%;
    margin: 40px auto;   /* centra */
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* ← CLAVE */
    
}

/* imágenes */
.contenedor img{
    width: 100%;
    height: 260px;
    object-fit: cover;

    padding: 8px;          /* espacio blanco interno */
    background: white;     /* fondo tipo tarjeta */

    
}

