/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* header y footer */
header, footer{
    background:#3b3f24;
    color:white;
    text-align:center;
    padding:40px;
}

/* CONTENEDOR */
.contenedor{
    width:90%;
    margin:40px auto;
}

/* IMÁGENES */
.contenedor img{
    width:30%;          /* caben 3 */
    float:left;         /* ← CLAVE */
    margin:1.66%;       /* espacios */

    height:240px;
    object-fit:cover;
    border-radius:8px;
}

/* LIMPIAR FLOAT (MUY IMPORTANTE) */
.contenedor::after{
    content:"";
    display:block;
    clear:both;
}
